/*Input box style*/

.task-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color:rgb(183, 183, 168) ;
    border-radius: 8px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    margin-bottom: 1rem;
  }
 .form {
 padding: 1.5;
 border-radius: 8px;
 box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
 margin-bottom: 2rem;
 max-width: 500px;
 margin: 0 auto;
 }
 .form label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: bold;
 }

.form input[type= "text"],
.form input[type= "date"],
.form textarea,
.form select{
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: 1px solid#ccc;
  border-radius: 4px;
  font-size: 1rem;
}

  .heading {
    text-align: center;
    font-family: 'Arial', sans-serif;
    font-size: 2em;
    color: #333;
  }

  input[type="radio"] {
    margin-right: 5px;
  }
  
  button {
    margin: 10px 5px;
  }
  
  .form button:hover{
    background-color: skyblue;
  }

  .btn {
    padding: 10px 15px;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    cursor: pointer;
  }
  /*Task list style*/
  
  .task-list{
    max-width: 600px;
    margin: 0 auto;
    color: #333;
  }
  .task-list h2 {
    text-align: center;
    margin-bottom: 1rem;
    font-size: 1.5rem;
  }

  .task-list p[ngStyle*="colort: red"]{
    color: red;
  }
  .task-list p[ngStyle*="colort: orange"]{
    color: orange;
  }
  
  .task-list p[ngStyle*="colort: green"]{
    color: green;
  }
  
  .task-list ul {
    list-style-type: none;
    padding: 0;
  }
  
  .task-list li {
    background-color: #fff;
    margin: 10px 0;
    margin-bottom: 1rem;
    padding: 1rem;
    position: relative;
    border: 1px solid#ddd;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .task-list input[type='checkbox']{
    margin-right: 0.5rem;
  }

  .task-list button {
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    position: relative;
    font-size: 0.87rem;
    color: white;
    background-color: #e53935;
  }
  
  li button:first-child {
    background-color: #ffc107;
    color: white;
  }
  
  li button:last-child {
    background-color: #dc3545;
    color: white;
  }
  
  li button:first-child:hover {
    background-color: #e0a800;
  }
  
  li button:last-child:hover {
    background-color: #c82333;
  }

.overdue {
  border-color: red;
  background-color: #ffe6e6;
}