:host {
    display: block;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding : 2rem;
    box-sizing: border-box;
    background-color: antiquewhite;
   
  }
  